.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon-div {
  padding: 6px;
  cursor: pointer;
  margin: 6px;
}
.social-icon {
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 720px) {
  .social-icon {
    height: 32px;
  }
} ;
