/* .about {
  padding-bottom: 40px;
} */
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 420px;
}
.about-info {
  font-size: 24px;
}
.info-name {
  color: blue;
  font-size: 32px;
}
.info-text {
  color: #868e96;
  font-size: 20px;
}

h3 {
  /* color: black; */
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  /* cursor: pointer; */
}
h3 span {
  transition: 0.5s linear;
}
h3:hover span:nth-child(1) {
  margin-right: 5px;
}
h3:hover span:nth-child(1):after {
  content: "";
}
h3:hover span:nth-child(2) {
  margin-left: 30px;
}

h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid rgb(0, 60, 255); */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: 0.15em; */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 20px;
    margin-top: 30px;
  }
  .info-name {
    font-size: 24px;
  }
  .info-text {
    font-size: 16px;
  }
  .typewriter {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    letter-spacing: 3px;
  }
}
